<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suning.gslb.metric.dao.AlarmThresholdBeanMapper" >
  <resultMap id="BaseResultMap" type="com.suning.gslb.common.model.MetricThresholdModel" >
    <id column="param_id" property="paramId" jdbcType="INTEGER" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="alarm_value" property="alarmValue" jdbcType="DOUBLE" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    param_id, param_name, alarm_value, tag, type,create_time, remark
  </sql>
  <select id="getAlarmValueByParamName" resultMap="BaseResultMap"
        parameterType="String">
        select
        <include refid="Base_Column_List" />
        from tb_data_dictionary
        where param_name = #{paramName,jdbcType=VARCHAR}
  </select>
  <select id="getParamNameByParamId" resultType="String"
        parameterType="INTEGER">
        select
        param_name
        from tb_data_dictionary
        where param_id = #{paramId,jdbcType=INTEGER}
  </select>
  <select id="getAllAlarmThreshold" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_data_dictionary
  </select>
</mapper>